@{
    ViewData["Title"] = "Home Page";
}

@*@using (Html.BeginForm("Index", "Home", FormMethod.Post))
{
    <input type="text" name="inputData" />
    <input type="submit" value="Generate QR Code" />
}

<br />

@if (ViewBag.QRCode != null)
{
    <img src="@ViewBag.QRCode" style="width:200px; height:200px;" />
}*@

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
